# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Logs
logs/*.log

# Airflow
.airflow/
airflow/logs/
airflow/plugins/

# Great Expectations
great_expectations/uncommitted/

# PostgreSQL local volume
postgres_data/

# dbt
dbt_packages/
dbt/insurance_claims_dbt
dbt/insurance_claims_dbt/target/
logs/

# Power BI
*.pbix

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/